#Build temporary
*.a
*.sw*

*.cmake
!CMakeModules/*.cmake
CMakeCache.txt
CMakeFiles
Makefile
moc_*
*.moc
build-release
build-debug
cmake-build-debug
build

lcov

doxygen

build

nohup.out

#Mergetool
*.orig

#Python
*.pyc
*.pyo
*.egg-info/

#IDE
.vscode/
.idea/
*.user
.vs/
*.vcxproj*
*.cbp
